<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>
  <p>
    <a href="/ui.js">JS</a> (<a href="/ui.min.js">minified</a>)
  </p>
  <p>
    <a href="/ui.css">CSS</a> (<a href="/ui.min.css">minified</a>)
  </p>
</body>
</html>
