HTML, BODY {
  color: black;
  background-color: white;
  min-height: 100%;
}

HTML, BODY, DIV, P, TH, TD {
  margin: 0;
  padding: 0;
}

DL, DT, DD, UL, OL, LI {
  margin: 0;
  padding: 0;
}

H1, H2, H3, H4, H5, H6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

FORM, FIELDSET, INPUT, TEXTAREA, BLOCKQUOTE {
  margin: 0;
  padding: 0;
}

TABLE {
  border-collapse: collapse;
  border-spacing: 0;
}

FIELDSET, IMG {
  border: 0;
}

INPUT, TEXTAREA, SELECT {
  font-family: inherit;
  font-weight: inherit;
}

INPUT, A {
  outline: none;
}

BODY, TD, DIV {
  font-family: arial,verdana,helvetica,sans-serif;
  font-size: 12px;
}

TEXTAREA, 
INPUT[type=text],
INPUT[type=password]{
  background-color: white;
  border: 1px solid #C0C0C0;
}

INPUT.fixie {
  border: 0;
}

LABEL {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: pointer;
}

A {
  color : blue;
  cursor: pointer;
}

A:hover {
  color : blue;
  text-decoration: underline;
}

A:focus {
  outline: 0;
}

.clear-fix:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 1px;
    clear: both;
}

.noselect {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.clip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

TABLE.fixed {
  table-layout: fixed;
}

.no-wrap {
  white-space: nowrap;
}

.popin_wrapper {
  border: 1px solid #ccc;
  background-color: white;
}

.popin_wrapper_shadow {
}

.popin_title {
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  padding-left: 10px;
  background-image: url('image/popin_title_bg.gif');
  background-repeat: repeat-x;
  color: white;
  white-space: nowrap;
}

.popin_close {
  width: 31px;
  height: 27px;
  float: right;
  background-image: url('image/popin_close.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

.popin_body {
  padding: 20px;
  overflow: auto;
}

.popin_notitle .popin_body {
  top: -1px;
}

.popin_hasactions .popin_body {
  bottom: 35px;
  padding-bottom: 5px;
}

.popin_actions {
  height: 26px;
  padding: 5px 20px 20px 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
}

.popin_loading {
  background-image: url('image/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading {
  background-image: url('image/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

.right_loading {
  background-image: url('image/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 298px;
}

.prop {
  font-weight: bold;
}

.null {
  color: red;
}

.bool {
  color: #0000aa;
}

.num {
  color: #0000aa;
}

.string {
  color: green;
  white-space: pre-wrap;
}

A.keylink {
  color: black;
}

A.valuelink {
  color: green;
}

A.keylink:hover,
A.keylink:hover .string,
A.valuelink:hover,
A.valuelink:hover .string {
  color : blue;
}

.collapser {
  position: absolute;
  left: -1.5em;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  width: 20px;
  height: 15px;
}

.q {
  display: inline-block;
  color: transparent;
  width: 0px;
  /* IE7 and below... */
  *zoom: 1;
  *display: inline;
  *visibility: hidden;
}

LI {
  position: relative;
}

#error {
  -moz-border-radius: 8px;
  border: 1px solid #970000;
  background-color: #F7E8E8;
  margin: .5em;
  padding: .5em;
}

.errormessage {
  font-family: "Monaco", "Andale Mono", "Courier New", "Courier", monospace;  
}

#json {
  font-family: "Monaco", "Andale Mono", "Courier New", "Courier", monospace;
  white-space: pre-wrap;
}

UL {
  list-style: none;
  margin: 0 0 0 2em;
  padding: 0;
}

H1 {
  font-size: 1.2em;
}

#header {
  padding: 5px;
  min-height: 50px;
  background-color: #f8f8f8;
  margin-bottom: 5px;
  border-bottom: 1px solid #555;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

TH {
text-align: left;
}

TH, TD {
  vertical-align: top;
}

.inactive {
  color: #666;
}

INPUT {
  margin: 2px;
}

#filters INPUT[type="text"] {
  width: 100px;
}

#curl,
#request,
#response {
  border: 1px solid #555;
  background-color: #eee;
  padding: 3px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.popin_hasactions .popin_body {
  padding-bottom: 0;
}
