HTML, BODY {
  color: black;
  background-color: white;
  min-height: 100%;
}

HTML, BODY, DIV, P {
  margin: 0;
  padding: 0;
}

BODY, TD, DIV {
  font-family: arial,verdana,helvetica,sans-serif;
  font-size: 12px;
}

FORM, FIELDSET, INPUT, TEXTAREA, BLOCKQUOTE {
  margin: 0;
  padding: 0;
}

TABLE {
  border-collapse: collapse;
  border-spacing: 0;
}

FIELDSET, IMG {
  border: 0;
}

INPUT, TEXTAREA, SELECT {
  font-family: inherit;
  font-weight: inherit;
}

INPUT, A {
  outline: none;
}

TEXTAREA, 
INPUT[type=text],
INPUT[type=number],
INPUT[type=password] {
  background-color: white;
  border: 1px solid #C0C0C0;
}

INPUT.fixie {
  border: 0;
}

LABEL {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: pointer;
}

A {
  color : blue;
  cursor: pointer;
}

A:hover {
  color : blue;
  text-decoration: underline;
}

A:focus {
  outline: 0;
}

.clear-fix:after {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 1px;
    clear: both;
}

.noselect {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.clip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

TABLE.fixed {
  table-layout: fixed;
}

.no-wrap {
  white-space: nowrap;
}

.loading {
  background-image: url('image/loading.gif');
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
}

.prop {
  font-weight: bold;
}

.null {
  color: red;
}

.bool {
  color: #0000aa;
}

.num {
  color: #0000aa;
}

.string {
  color: green;
  white-space: pre-wrap;
  word-wrap: break-word;
}

A.keylink {
  color: black;
}

A.valuelink {
  color: green;
}

A.keylink:hover,
A.keylink:hover .string,
A.valuelink:hover,
A.valuelink:hover .string {
  color : blue;
}

.collapser {
  position: absolute;
  left: -1.5em;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  width: 20px;
  height: 15px;
}

.q {
  display: inline-block;
  color: transparent;
  width: 0px;
  /* IE7 and below... */
  *zoom: 1;
  *display: inline;
  *visibility: hidden;
}

LI {
  position: relative;
}

#error {
  -moz-border-radius: 8px;
  border: 1px solid #970000;
  background-color: #F7E8E8;
  margin: .5em;
  padding: .5em;
}

.errormessage {
  font-family: "Monaco", "Andale Mono", "Courier New", "Courier", monospace;  
}

#json {
  font-family: "Monaco", "Andale Mono", "Courier New", "Courier", monospace;
  white-space: pre-wrap;
}

UL {
  list-style: none;
  margin: 0;
  padding: 0;
}

H1 {
  font-size: 1.2em;
}

#header {
  padding: 5px;
  min-height: 50px;
  background-color: #f8f8f8;
  margin-bottom: 5px;
  border-bottom: 1px solid #555;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

TH {
text-align: left;
}

.inactive {
  color: #666;
}

INPUT {
  margin: 2px;
}

#filters INPUT[type="text"] {
  width: 100px;
}

#request-input TD {
  border: 1px solid #f8f8f8;
}

#curl,
#request,
#response {
  border: 1px solid #555;
  background-color: #eee;
  padding: 3px;
  margin-bottom: 5px;
  word-wrap: break-word;
}

.response-header-name {
  font-weight: bold;
}
