<nav class="clearfix" role="navigation">
  <a class="nav-logo btn bg-transparent"><span class="sr-only">{{settings.appName}}</span></a>

  <ul class="nav-main nav-list no-inline-space">
  </ul>


  <ul class="nav-user dropdown">
    {{#if user}}
      <li>
        <div>
          {{user}}
        </div>
        <div>
          <a {{action "logout"}}>Logout</a>
        </div>
      </li>
    {{else}}
      <li>
        No Auth
      </li>
    {{/if}}
  </ul>
</nav>
