.json {
  line-height: initial;

  .obj-summary {
    margin: 0 10px;
    cursor: pointer;
    font-style: italic;
  }

  .obj-field {
    @include no-inline-monospace;
  }

  .obj-value {
    @include no-inline-monospace;
  }

  .obj-syntax {
    font-weight: bold;

    &.separator {
      margin-right: 10px;
    }
  }

  .array-item {
    @include no-inline-monospace;
  }

  .array-value:last-child > .comma,
  .obj-field:last-child > .comma {
    display: none;
  }

  .collapsible {
    margin-left: 10px;
  }

  .obj-key {
    font-weight: bold;
  }

  .keyword, .number {
    color: #0000aa;
  }

  .null {
    color: red;
  }

  .string {
    color: green;
  }

  .link, .action {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
  }

  .schema {
    color: darken($warning, 20%);
    text-decoration: underline;
    cursor: pointer;
  }

  .pagination, .filters, .sort {
    margin: 10px;
  }
}
