<div class="column-links">
  <ul>
    {{#eachProperty links}}
      <li class="row resource-link" data-self="{{value}}"><i class="icon icon-circle-arrow-right"></i>{{key}}</li>
    {{else}}
      <li><div class="muted"><i>None</i></div></li>
    {{/eachProperty}}
  </ul>
</div>
