<div id="header">
  <a href="#" onclick="Cookie.set('apiview','browse'); htmlapi.show(); return false">JSON View</a><br/>
  <form>
    <input type="checkbox" id="show_removed"><label for="show_removed">Show removed resources<br/>
  </form>
</div>

<div id="explorer">
</div>
