{{#json-collapsible
  open='{'
  close='}'
  length=length
  initExpanded=true
  as |block|
}}
  {{#if (eq block "summary")}}
    {{length}} links
  {{else}}
    {{#each-in model as |k v|}}
      <a class="link" {{action "follow" v}}>{{k}}</a>
    {{/each-in}}
  {{/if}}
{{/json-collapsible}}

