<div class="box mb-20">
  <h4>Request</h4>
  {{#if model.requestBodyStr}}
    <pre><code>{{model.requestBodyStr}}</code></pre>
  {{/if}}
</div>
<div class="box">
  <h4>Response</h4>
  {{#if model.responseBodyStr}}
    <pre><code>{{model.responseBodyStr}}</code></pre>
  {{/if}}
</div>
