{{#each-in model as |k v|}}
  <div class="http-header no-inline-monospace">
    <span class="key">{{k}}</span>
    <span class="separator">:</span>
    <span class="value">{{v}}</span>
  </div>
{{/each-in}}
End Headers
