#explorer {
  overflow: hidden;
  overflow-x: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
}

#explorer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

#explorer LI {
  line-height: normal;
}

#explorer UL {
  list-style: none;
  margin: 0 0 0 10px;
}

#explorer UL.column-body,
#explorer UL.collection-data,
#explorer .column-links UL
{
  margin: 0;
  padding: 0;
}

#explorer .column {
  overflow-x: auto;
  overflow-y: scroll;
  min-width: 100px;
  max-width: 400px;
  height: 100%;
  border-right: 1px solid #555;
  margin: 0;
  padding: 0;
  float: left;
}

#explorer UL.column-body {
  margin-left: 0;
}

#explorer .column-header {
  background-color: #ddd;
  border-bottom: 1px solid black;
  font-weight: bold;
  padding: 0 5px;
}

#explorer .section-header {
  background-color: #ddd;
  border-bottom: 1px solid black;
  font-weight: bold;
  padding: 0 5px;
}

#explorer .column-links {
  background-color: #eee;
  border-bottom: 1px solid black;
}

#explorer .row {
  margin: 0;
  padding: 2px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  cursor: pointer;
  cursor: hand;
  border: 1px solid white;
}

#explorer .row:hover {
  border-color: #bfdd2f;
  border-style: dashed;
}

#explorer .row.selected {
  border-color: #efefc7;
  background-color: #e4efc7;
}

#explorer TABLE.resource-fields {
  width: 100%;
  background-color: #eee;
  border-collapse: collapse;
  border-spacing: 0;
}

#explorer .resource-fields TD {
  border: 1px solid white;
  padding: 1px 5px;
}

#explorer .resource-fields .key, 
#explorer .resource-fields .value {
  font-size: 11px;
  word-wrap: break-word;
}
